* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
body {
  background-color: rgb(166, 255, 166);
  font-family: Arial;
  font-size: 18px;
  padding: 20px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

/* /* Style for the "first" paragraph class ID */
.first {
  color: rgb(58, 58, 58);
}

/* Style for the "second" paragraph class ID */
.second {
  color: rgb(58, 58, 58);
}

#profile-picture {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 200px;
}

/* Style for the form box */
#your-name {
  background-color: bisque;
  border: 5px solid #444;
  border-radius: 15px;
  width: 400px;
  padding: 20px;
}

/* Style for the link */
a {
  color: rgb(227, 0, 227);
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: rgb(166, 255, 166);
  border-width: 2px;
  border-radius: 15%;
  padding: 10px;
  font-size: 16px;
}
