/* 

--- 01 TYPOGRAPHY SYSTEM ---
- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Paragraph Default: 1.6

--- 02 COLORS ---
- Primary: #e67e22

- Tints: #fdf2e9 #f5cba7
- Shades: #cf711f #b8651b
- Accents:
- Greys:
#555
#444
#333

--- 05 SHADOWS ---

--- 06 BORDER RADIUS ---
Default: 9px

--- 07 WHITESPACE ---
- Spacing (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* .test {
  background-color: red;
  /* max-width: 1000px; */
/* width: 1000px; USE MAX-WIDTH FOR ADAPTABILITY FOR WINDOW SIZES*/

/* max-width: 50rem;
  padding: 4rem;
  color: #fff;
  font-size: 2.4rem; */
/* } */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; CREATES USABITY ISSUES - DISABLES USER FROM INCREASING OR DECREASING OUR PAGE'S FONT-SIZE */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/**********************/
/* GENERAL COMPONENTS */
/**********************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* justify-content: space-between; */
}

.btn:link,
.btn:visited {
  display: inline-block;
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  transition: all 300ms;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #cf711f;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b8651b;
}

.btn--outline:link,
.btn--outline:visited {
  color: #444;
  background-color: #f5cba7;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #f7f7f7;
}

/**********/
/* HEADER */
/**********/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

/**************/
/* NAVIGATION */
/**************/

/* .main-nav {
} */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #cf711f;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #b8651b;
}

/********/
/* HERO */
/********/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

/* .hero-text-box {
} */

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  margin-right: -1.6rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* .hero-img-box {
} */

.hero-img {
  width: 100%;
}

.section-how {
  padding: 9.6rem;
  /* background-color: orangered; */
}

.step-img {
  width: 50%;
}
